# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.19.5
torch==1.9.1
torchvision==0.10.1
torchmetrics
pytorch_lightning>=1.4.9
tqdm
jsonargparse[signatures]

# Logging -------------------------------------


# Plotting ------------------------------------