# pip install -r requirements.txt

# Base ----------------------------------------
numpy>=1.19.5
torch>=1.10.0
torchvision>=0.11.1
jsonargparse[signatures]>=4.0.0

# Logging -------------------------------------


# Plotting ------------------------------------
matplotlib>=3.2.2